<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doc</title>
</head>
<body>
	<h1>Welcome</h1>
    <p><b>Enter a url below to shorten</b></p>
    <p>Your shorten url id is {{rand_picked}} go to {{rand_picked_url}}</p>
    

    <form action="" method="post" >
        <input type="text" name="URL" class="input input-lg">
        <input type="submit" value="Submit">
    </form>


    <style>
    h1, p {
        font-family: sans-serif;
        color: crimson;
        text-align: center;
    }

    form {
        text-align: center;
    }


    body {background: black}

    ::selection {
        color: crimson;
    }
    </style>
</body>
</html>
